
.letter{
    font-family: "Andale Mono", serif;
    font-size: 22px;
}

:global(.right){
    color: yellow;
}

:global(.error){
    color: red;
}

:global(.normal){
    color: #667587;
}

@media (prefers-color-scheme: light) {
    :global(.right){
        color: white;
        background-color: forestgreen;
    }
    :global(.error){
        color: white;
        background-color: red;
    }
}