
.letter{
    font-family: "Andale Mono", serif;
    font-size: 22px;
}

:global(.right){
    color: yellow;
}

:global(.error){
    color: red;
}

:global(.normal){
    color: #667587;
}

:global(.corrected){
    color: yellow;
    text-decoration: underline overline red;
}