
.letter{
    font-size: 22px;
}

:global(.right){
    color: greenyellow;
}

:global(.error){
    color: red;
}

:global(.normal){
    color: whitesmoke;
}

:global(.corrected){
    color: greenyellow;
    text-decoration: underline overline red;
}