.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    outline: none;
    height: 100%;
    width: 100%;
}

.settingsBar{
    display: flex;
    flex-direction: row;
    gap: 15px;
}