.key{
    height: 45px;
    width: 45px;
    border-radius: 5px;
    font-size: 22px;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.wrapper:nth-child(20){
    display: block;
    width: 100%;
    height: 0;
}

div.wrapper:nth-child(38){
    display: flex;
    width: 100%;
    height: 0;
}

.active{
    background: forestgreen;
    color: white;
}

.normal{
    background: whitesmoke;
    color: black;
}

.marked{
    border: 1px solid orange;
}

.wrapper{
    display: none;
}